.search {
    color: black;
    width: 90rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input {
    width: 40%;
    padding: 12px 20px;
    background-color: #e9f6f7;
    border: none;
    border-radius: 8px;
}

input:focus {
    border: 3px solid rgb(152, 234, 250);
}

button {
    background-color: rgb(112, 3, 78);
    border: none;
    color: white;
    border-radius: 8px;
    padding: 13px 20px;
    width: 8%;
    cursor: pointer;
}